@import "tailwindcss";
:root {
  --background: #ffffff;
  --foreground: #171717;
}
* {
  box-sizing: border-box;
}
body {
  background-color: #f7f7f7;
}
main {
  background-color: #ffffff;
  width: 1010px;
  padding: 10px 0;
  margin: 0 auto;
}
.movies-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 460px);
  gap: 24px;
  padding: 21px 32px;
}
.movie-poster {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 183px;
  height: 281px;
  border: 1px solid;
}
.movie-list {
  display: flex;
  width: 454px;
  height: 281px;
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.25);
}
.movie-options {
  font-weight: 400;
  margin: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  & .movie-title {
    margin-top: 10px;
    color: #000000;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    vertical-align: middle;
  }
  & .movie-date {
    color: #827e7e;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0px;
    vertical-align: middle;
  }
  & .movie-tags {
    color: #000000a6;
    border: 1px solid #d9d9d9;
    margin: 1px 4px 1px 0px;
  }
  & .movie-overview {
    color: #000000;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0px;
  }
}
.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  flex-direction: column;
  & p {
    color: rgb(40, 86, 222);
    font-size: 20px;
  }
}
.search-input {
  display: flex;
  justify-content: center;
  align-items: center;

  & input {
    width: 940px;
    margin: 10px auto;
    height: 40px;
    padding: 2px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    padding: 0 10px;
  }
}
.search-container {
  padding: 0 40px;
  margin: 5px;
  & .search-list {
    display: flex;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    text-decoration: underline;
  }
  & .movie-title {
    margin: 0 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}
.alert {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
}
.movie-rate {
  margin: auto 2px 5px 2px;
}
.SearchRated {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  gap: 20px;
  color: #000000;
  & .active {
    color: #1890ff;
    text-decoration: underline;
    text-decoration-color: #1890ff;
  }
}
.ratingBall {
  font-size: 12px;
  color: #000000;
  position: absolute;
  right: 0px;
  top: 0px;
  border-radius: 50%;
  border: 2px solid #e9d100;
  width: 30px;
  height: 30px;
  text-align: center;
  margin: 2px;
  padding-top: 2px;
}
